.container-fluid
  .row
    .col-xs-12.col-sm-8.col-md-8.col-lg-6
      = render 'form'
    %p.col-xs-12.col-sm-4.col-md-4.col-lg-6#result.text-success.margin-top-7-on-xs
      Black-Scholes Value: #{@option.black_scholes_values.first}
    #saved_options.col-xs-12.col-sm-4.col-md-4.col-lg-6.margin-top-7-on-xs
