<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <%= render 'form' %>
      <p class="text-success" id="result">
        Black-Scholes Value: <%= @option.black_scholes_value.round(4) %>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6" id="saved_options">
    </div>
  </div>
</div>